@model ExamSubjectsStudentsViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new exam</h2>

<div class="card my-5">
    <div class="d-flex justify-content-center p-3 text-left">
        <form>
            <div class="form-group">
                <lable class="control-label">Please select Index Number</lable>
                @Html.DropDownList("ddlDropDownList", new SelectList(Model.Students, "BrojIndeksa", "BrojIndeksa"), "--", new { @class = "form-control", @id = "selectedIndexNumber" })
                <span class="text-danger" id="indexDanger"></span>
            </div>
            <div class="form-group">
                <lable class="control-label">Please select Subject</lable>
                @Html.DropDownList("ddlDropDownList", new SelectList(Model.Subjects, "PredmetId", "Naziv"), "--", new { @class = "form-control", @id = "selectedSubjectId" })
                <span class="text-danger" id="subjectDanger"></span>
            </div>
            <div class="form-group">
                <lable class="control-label">Grade</lable>
                <input id="numberGrade" class="form-control" type="number" min="5" max="10" />
                <small class="text-muted">Must be a value between 5-10</small>
            </div>
            <div class="form-group">
                <lable class="control-label">Exam Date</lable>
                <input id="datetimeExamDate" class="form-control" type="datetime-local" placeholder="2011-08-19" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input id="btnSaveExam" type="button" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="Index">Back to exams list</a>
</div>
@section scripts{
    <script type="text/javascript" src="~/js/exams/examscreate.js"></script>
}