@model GETApplication.Models.Exam

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want do delete this exam?</h2>

<form asp-action="Delete">
    <input type="hidden" asp-for="IspitId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Back to exams list</a>
</form>