
@{
    ViewData["Title"] = "Exams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h2 class="m-4">Exams</h2>
        <div class="m-auto d-flex justify-content-center align-items-center">
            <table class="table w-100 table-bordered table-striped" id="tblExam">
                <thead>
                    <tr>
                        <th>Exam ID</th>
                        <th>Index Number</th>
                        <th>Student</th>
                        <th>Subject Name</th>
                        <th>Grade</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        <p class="m-4">
            <a href="/Exam/Create" class="btn btn-success ">Add new exam</a>
        </p>

    </div>
</div>
