@model GETApplication.Models.Subject

@{
    ViewData["Title"] = "Delete";
}

<div class="card my-5 p-4">
    <h4>Are you sure you want do delete this subject?</h4>
    <form asp-action="Delete" class="d-flex w-100 justify-content-between mt-5 align-items-center">
        <input type="hidden" asp-for="PredmetId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to subjects list</a>
    </form>
</div>