@model GETApplication.Models.Subject

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want do delete this subject?</h2>

<form asp-action="Delete">
    <input type="hidden" asp-for="PredmetId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Back to subjects list</a>
</form>