@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" >
    <div class="col-12">
        <h2 class="m-4">Subjects</h2>
        <div class="m-auto">
        <table class="table w-100 table-bordered table-striped" id="tblSubject">
            <thead>
                <tr>
                    <th>PredmetId</th>
                    <th>Naziv</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
        </div>
        <p class="m-4">
            <a href="/Subject/Create" class="btn btn-success ">Create new subject</a>
        </p>
    </div>
</div>
@section scripts{ 
    <script type="text/javascript">
        
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Subject/AjaxMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    OnSuccess(response);
                },
                failure: function (response) {
                    alert(response.data);
                },
                error: function (response) {
                    alert(response.data);
                }
            });
        });
        function OnSuccess(response) {
            $('#tblSubject').DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    bInfo: true,
                    data: response,
                    columns: [
                        {
                            'data': 'predmetId'
                        },
                        {
                            'data': 'naziv',
                        },
                        {
                            'render': function (response, type, full, meta) { return '<a class="btn btn-info d-flex align-items-center justify-content-center" href="/Subject/Edit/' + full.predmetId + '">Edit <i class="fa fa-pencil-square-o ml-1" aria-hidden="true"></i></a>'; }
                        },
                        {
                            'render': function (response, type, full, meta) { return '<a class="btn btn-danger" href="/Subject/Delete/' + full.predmetId + '">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>'; }
                        }
                        

                    ]

                });


        }
    </script>
}