@model GETApplication.Models.Student

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new student</h2>

<div class="card my-5">
    <div class="d-flex justify-content-center p-3 text-left">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class-danger></div>
            <div class="form-group">
                <lable asp-for="BrojIndeksa" class="control-label"></lable>
                <input asp-for="BrojIndeksa" placeholder="Index number" class="form-control" />
                <span asp-validation-for="BrojIndeksa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable asp-for="Ime" class="control-label"></lable>
                <input asp-for="Ime" placeholder="First name" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable asp-for="Prezime" class="control-label"></lable>
                <input asp-for="Prezime" placeholder="Last name" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable asp-for="Grad" class="control-label"></lable>
                <input asp-for="Grad" placeholder="City" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to students list</a>
</div>