@model GETApplication.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want do delete this student?</h2>

<form asp-action="Delete">
    <input type="hidden" asp-for="StudentId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Back to students list</a>
</form>